<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naxam.BraintreeApplePay.iOS" version="4.8.2.1" targetFramework="xamarinios10" />
  <package id="Naxam.BraintreeCard.iOS" version="4.8.2.6" targetFramework="xamarinios10" />
  <package id="Naxam.BrainTreeCore.iOS" version="4.8.2.1-pre" targetFramework="xamarinios10" />
  <package id="Naxam.BraintreePayPal.iOS" version="4.8.2.3" targetFramework="xamarinios10" />
  <package id="Naxam.BraintreeUnionPay.iOS" version="4.8.2.5" targetFramework="xamarinios10" />
  <package id="Naxam.PayPal.Risk.iOS" version="4.8.2" targetFramework="xamarinios10" />
  <package id="Naxam.PayPalDataCollector.iOS" version="4.8.2.2" targetFramework="xamarinios10" />
  <package id="Naxam.PayPalOneTouch.iOS" version="4.8.2" targetFramework="xamarinios10" />
  <package id="Naxam.PayPalUtils.iOS" version="4.8.2" targetFramework="xamarinios10" />
</packages>